/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;

}
hr{
    border: 1px solid gray;
    margin-bottom: 27px;
}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* top players style  */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
}
.player{
    display:flex;
    align-items: center;

}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/*--------- top blog styles--------- */
.blog .thumbnail img{
    height: 117px;
    width: 117px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:26px ;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size:16px ;
    color: #562EFF;
}
/* courses styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;

}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
    background-color: lightpink;
    border-radius: 15px;
    padding: 5px;
    color: red;
}
/* Media queries */
/* Mobile devices */
@media only screen and(max-width:688px){
    .player{
        background-color:red;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }

}
    

